<mat-card class="example-card bg-dark">
    <mat-card-header  class="bg-secondary text-white">
      <div mat-card-avatar> <img mat-card-image class="roundRadius" src="../assets/images/ProfilePhoto.jpeg"  width="50px" height="50px" alt="VidyadharBp"></div>
      <mat-card-title>Vidyadhar B Pirannavar</mat-card-title>
      <mat-card-subtitle class="text-white">Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <div style="text-align: center;" class="bg-dark">
        <img class="roundRadius"  src="../assets/images/ProfilePhoto.jpeg" width="180px" height="180px" alt="Image">
    </div> 
    <mat-card-content class="bg-secondary">
      <h4 class="fs-5 m-2">Hi, I'm Vidyadhar</h4>
      <p class="fs-6">As a front-end developer, I bring a passion for creating seamless user experiences through my expertise in HTML, CSS, JavaScript and Angular. Constantly staying updated with the latest technologies, I thrive in dynamic environments, adept at quickly adapting to new tools and methodologies. </p>
      <h4 class="fs-5">The Special Thanks For My Mentor Charan</h4>
      <p class="fs-6 p-2">Having a mentor who believes in our potential and invests time and effort into your growth can be incredibly motivating. Their encouragement and accountability can keep us focused and committed to our learning journey. Overall, having a mentor who supports our exploration of new technologies like Angular and React can be a game-changer in our career development.</p>
    </mat-card-content >
    <div class="m-3 p-2 text-white"><p class="fs-6">In case of any query reach me at :<br/>
        <a href="mailto:vidyadharpirannvar@gmail.com" class="text-primary"> vidyadharpirannvar&commat;gmail.com</a> </p></div> 
</mat-card>
