
/* .example-card {
    max-width: 400px;
  } */
  
  /* .example-header-image {
    background-image:url("../assets/images/angulart2-dark.png");
    background-size: cover;
    background-position: center;
  } */
  .roundRadius{
    border-radius: 50%;
}