<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="container">
        <div class="row">
            <h1 class="cover-heading fs-2">Welcome To The Learnings Of Angular with Different Version And Its Features</h1>
            <p class="fs-5">This Website helps us to learn Angular across different versions and its features.</p>
            <p class="fs-5">Angular is a front-end web framework developed by Google for building single-page applications and by using it we can create dynamic, complex, interactive web applications</p>
           
            <div class="row m-3">
                <p class="fs-3">Below are the some main key reasons why we need to use it </p>
                <ul>
                <li class="fs-5">Provides Component-based architecture</li>
                <li class="fs-5">Provides TypeScript support</li>
                <li class="fs-5">Provides Dependency injection</li>
                <li class="fs-5">Provides Large community and ecosystem</li>
                </ul>
                <!-- <p class="fs-3">Below are the some main key reasons why we need to use it </p>
                <p class="fs-5">Provides Component-based architecture</p>
                <p class="fs-5">Provides TypeScript support</p>
                <p class="fs-5">Provides Dependency injection</p>
                <p class="fs-5">Provides Large community and ecosystem</p> -->
            </div>
            <p class="lead">
                <button class="btn btn-lg btn-primary">Learn more</button>
            </p>
        </div>
    </div>
  </div>
