<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="container">
        <div class="row">
            <h1 class="cover-heading">Welcome To The Learnings Of Angular with Different Version And Its Features</h1>
            <p class="lead">This Website helps us to learn Angular across different versions and its features.</p>
            <p>Angular is a front-end web framework developed by Google for building single-page applications and by using it we can create dynamic, complex, interactive web applications</p>
           
            <!-- <div class="row"> -->
                <h2>Below are the some main key reasons why we need to use it </h2>
                <p>Provides Component-based architecture</p>
                <p>Provides TypeScript support</p>
                <p>Provides Dependency injection</p>
                <p>Provides Large community and ecosystem</p>
            <!-- </div> -->
            <p class="lead">
                <button class="btn btn-lg btn-primary">Learn more</button>
            </p>
        </div>
    </div>
  </div>
