

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="row">
        <p class="fs-4" style="color: white;">Ag-Grid with Angular</p>
    </div>
    <div class="container">
        <ag-grid-angular class="ag-theme-quartz" style="height: 500px; width: 100%;"
            [rowData]="userList"
            [columnDefs]="colDefs"
            [defaultColDef]="defColDef"
            [rowSelection]="rowSelection"
            [pagination]="true">
        </ag-grid-angular>
    </div>
</div>

